# Dependencies
node_modules

# Environment
.env
.env.local
.env.production

# Logs
logs
*.log

# Backups
backups

# Database
data
*.json

# Mongo / Binary
*.wt
*.ns
*.pdb

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Render
.render

# Temporary
temp
tmp
cache